@model BatTrangTourist.ViewModel.ChangePasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<section class="bg-second">
    <div class="container">
        <div class="user-page">
            <div class="w30">
                @Html.Action("UserNav", "Dashboard")
            </div>
            <div class="w70">
                <div class="user-box">
                    @if (ViewBag.Result == 1)
                    {
                        <div id="AlertBox" class="success">
                            Đổi mật khẩu thành công
                        </div>
                    }
                    <div class="title-user mb-3">
                        Đổi mật khẩu
                    </div>
                    <div class="change-password">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()
                            <div class="form-row mb-3">
                                <div class="col-4">
                                    @Html.LabelFor(m => m.OldPassword)
                                </div>
                                <div class="col-8">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OldPassword)
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <div class="col-4">
                                    @Html.LabelFor(m => m.Password)
                                </div>
                                <div class="col-8">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <div class="col-4">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                </div>
                                <div class="col-8">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button type="submit" class="btn-user">
                                        Cập nhật
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>