@model BatTrangTourist.ViewModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
}

<section class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-5 order-lg-1 order-0">
                <div class="limiter">
                    <div class="wrap-login100">
                        <div class="title"><h2>Quên mật khẩu</h2></div>
                        @if (ViewBag.Result == 1)
                        {
                            <div class="alert alert-success">Yêu cầu lấy lại mật khẩu thành công. Vui lòng kiểm tra email của bạn để lấy thông tin.</div>
                        }
                        else
                        {
                            using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()
                                <div class="form-row mb-3">
                                    <div class="col-4">
                                        <span class="user-name">Email</span>
                                    </div>
                                    <div class="col-8">
                                        @Html.TextBoxFor(modelItem => modelItem.Email, new { @class = "form-control", placeholder = "Nhập Email để lấy lại mật khẩu" })
                                        @Html.ValidationMessageFor(modelItem => modelItem.Email)
                                    </div>
                                </div>
                                <div class="pb-3 text-center">
                                    <button type="submit" class="btn-form">Gửi yêu cầu</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}