@model BatTrangTourist.ViewModel.UserLoginModel

<section class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-5 order-lg-1 order-0">
                <div class="limiter">
                    <div class="wrap-login100">
                        <div class="title"><h2>Đăng nhập</h2></div>
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            <div class="form-row mb-3">
                                <div class="col-4">
                                    <span class="user-name">Tài khoản</span>
                                </div>
                                <div class="col-8">
                                    @Html.TextBoxFor(modelItem => modelItem.Username, new { @class = "form-control", placeholder = "Nhập tài khoản*" })
                                    @Html.ValidationMessageFor(modelItem => modelItem.Username)
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <div class="col-4">
                                    <span class="user-name">Mật khẩu</span>
                                </div>
                                <div class="col-8">
                                    @Html.PasswordFor(modelItem => modelItem.Password, new { @class = "form-control", placeholder = "Nhập mật khẩu*", autocomplete = "off" })
                                    @Html.ValidationMessageFor(modelItem => modelItem.Password)
                                </div>
                            </div>
                            <div class="pb-3 border-bottom text-center">
                                <button type="submit" class="btn-form">Đăng nhập</button>
                                <a href="@Url.Action("ForgotPassword", "User")" class="forgot-password">Quên mật khẩu?</a>
                            </div>
                            <div class="mt-3 text-center btn-login">
                                Bạn chưa có tài khoản?
                                <a href="@Url.Action("Register", "User")">
                                    Đăng ký ngay
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}