@model BatTrangTourist.ViewModel.SetNewPasswordViewModel
@{
    ViewBag.Title = "Đặt lại mật khẩu mới";
}

<section class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-5 order-lg-1 order-0">
                <div class="limiter">
                    <div class="wrap-login100">
                        <div class="title"><h2>Đăng ký</h2></div>
                        @if (ViewBag.Result == 1)
                        {
                            <div class="alert alert-success">Đặt mật khẩu mới thành công. Vui lòng đăng nhập <a href="@Url.Action("Login")" style="color: #277AF9">tại đây</a></div>
                        }
                        else
                        {
                            using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()
                                <div class="form-row mb-3">
                                    <div class="col-4">
                                        @Html.LabelFor(model => model.Password, new { @class = "user-name" })
                                    </div>
                                    <div class="col-8">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "*Mật khẩu" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-4">
                                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "user-name" })
                                    </div>
                                    <div class="col-8">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "*Nhập lại mật khẩu" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>
                                </div>
                                <div class="pb-3 border-bottom text-center">
                                    <button type="submit" class="btn-form">Đăng ký</button>
                                </div>
                                <div class="mt-3 text-center btn-login">
                                    Bạn đã có tài khoản?
                                    <a href="@Url.Action("Login", "User")">
                                        Đăng nhập ngay
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}