@model BatTrangTourist.Models.Product

<div class="tour-item">
    @if (Model.PriceSale > 0)
    {
        var percent = (decimal)Model.PriceSale / (decimal)Model.Price;
        var discount = 100 - Math.Truncate(percent * 100);
        <div class="discount">
            <b>Hot</b> -@discount%
            <span class="vector"></span>
        </div>
    }
    <a href="@Url.Action("ProductDetail", new { url = Model.Url })" class="tour-img">
        @if (Model.Image != null)
        {
        <img data-src="@Path.Combine("/images/products/", Model.Image)" src="~/Content/images/img-main/base64.gif" alt="@Model.Name" class="tour-img lazyload" />
        }
    </a>
    <div class="body">
        <div class="tour-name">
            <a href="@Url.Action("ProductDetail", new { url = Model.Url})">
                @Model.Name
            </a>
        </div>
        <div class="vote-box">
            <div class="meta-vote">
                <div class="star-box">
                    <div class="star-gray">
                        <i class="fa-light fa-star"></i>
                        <i class="fa-light fa-star"></i>
                        <i class="fa-light fa-star"></i>
                        <i class="fa-light fa-star"></i>
                        <i class="fa-light fa-star"></i>
                    </div>
                    <div class="star-color" style="width: @(Model.ResultReview() * 20)%">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc">@Model.Description</div>
        <div class="action-box">
            <div class="price-box clearfix">
                @if (Model.PriceSale > 0)
                {
                    <div class="saleoff">@Convert.ToInt32(Model.Price).ToString("N0")<sup>đ</sup></div>
                    <div class="main">@Convert.ToInt32(Model.PriceSale).ToString("N0")<sup>đ</sup></div>
                }
                else if (Model.Price > 0)
                {
                    <div class="main">@Convert.ToInt32(Model.Price).ToString("N0")<sup>đ</sup></div>
                }
            </div>
            <div class="booking-box">
                <a href="@Url.Action("ProductDetail", new { url = Model.Url })#package_option" class="btn btn-sm btn-primary">
                    <img src="~/Content/images/img-main/icon-book.png" alt="Book" />
                    ĐẶT TOUR
                </a>
            </div>
        </div>
    </div>
</div>